Source: {{ product }}
Section: admin
Maintainer: {{ username }} <{{ email }}>
Vcs-Browser: https://github.com/sarus-suite/skybox
Vcs-Git: https://github.com/sarus-suite/skybox.git
Homepage: https://sarus-suite.github.io
Build-Depends: debhelper-compat (= 13)

Package: {{ product }}
Architecture: any
Description: Slurm spank plugin written in rust for sarus-suite

